#root {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  color: rgba(255, 255, 255, 0.87);
}

.auth-form {
  margin-top: 10px;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.user-actions{
  display: flex;
  flex-direction: column;
}
